ID
{
    display: block;
}
NIM
{
    color: red;
}
NAMA
{
    color: blue;
    font-weight: bold;
    font-size:20pt;
    background-color:yellow
}
KOTA
{
    font-family: Verdana;
    font-style: italic;
}